
body {
    background-color: #CDB6D6;
}

.Posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PostsItem {
    border: 1px solid;
    margin: 40px;
    padding: 40px;
    width: 300px;
}

.PostsItem h2 {
    color: #201F21;
}

.Post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.Post button {
    background-color: #000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    margin: 10px auto 100px;
    padding: 14px 22px;
    text-align: center;
}

.Comments {
    margin: 50px auto;
}

.Comments h2 {
    text-decoration: underline;
}

.Comment {
    margin: 30px auto;
}

.Comment h4,
.Comment p {
    margin: 0;
    padding: 0;
}

.Comment h4 {
    margin: 5px auto;
}
