
body {
    background-color: #CDB6D6;
}

.Posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PostsItem {
    border: 1px solid;
    margin: 40px;
    padding: 40px;
    width: 300px;
}

.PostsItem h2 {
    color: #201F21;
}

.Post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px auto;
}

.Post button {
    background-color: #000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    margin: 60px;
    padding: 14px 22px;
    text-align: center;
}