
body {
    background-color: #CDB6D6;
}

h1 {
    margin: 100px;
    text-align: center;
}

.App .title {
    text-decoration: none;
}

/*
Posts
*/

.Posts .filtered-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PostsItem {
    border: 1px solid;
    margin: 40px;
    padding: 40px;
    width: 300px;
}

.PostsItem h2 {
    color: #201F21;
}

.Post {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.Post button {
    background-color: #000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    margin: 10px auto 100px;
    padding: 14px 22px;
    text-align: center;
}

.Post .post-content {
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 60px;
    padding: 60px;
    text-align: center;
}

/*
Comments
*/

.Comments {
    margin: 50px auto;
}

.Comments h2 {
    text-decoration: underline;
}

.Comment {
    margin: 30px auto;
}

.Comment h4,
.Comment p {
    margin: 0;
    padding: 0;
}

.Comment h4 {
    margin: 5px auto;
}

/*
Search
*/

.Search {
    margin: 50px auto;
    text-align: center;
}

.Search input {
    width: 400px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
}